<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492359981927-frscnj58ros32lttoen8l5cg9ibm5tlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492359981927-frscnj58ros32lttoen8l5cg9ibm5tlp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>492359981927-bqmtmcc9aetv7uanestt67f4dqf9fube.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzxaepZEEzvTM1Sv07j_X45Vp6OLM9C1I</string>
	<key>GCM_SENDER_ID</key>
	<string>492359981927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelApp</string>
	<key>PROJECT_ID</key>
	<string>travel-app-b3617</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-app-b3617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492359981927:ios:5202503c86ccedb3756dc2</string>
</dict>
</plist>